﻿@{
    ViewBag.Title = "Control Checkbox";
}
<div class="container">
    <h1>Ejercicio Control Checkbox</h1>
    <hr>
    <h4>API:</h4>
    <p>
        https://localhost:44341/api/ControlCheckbox/tamañoArreglo/limiteArreglo
    </p>
    <hr>

    <div class="row">
        <div class="col-12 col-sm-7 col-md-5 col-lg-3">
            <h4><b>Arreglos</b></h4>
            Tamaño del Arreglo <input type="text" name="" id="tamanioArreglo_id">
            <br>
            Limite del Random <input type="text" name="" id="limiteDelRandom_id">
            <br>
            <br>
            <button id="boton_llenarArreglo">Llenar arreglo</button>
            <br>
            <br>
        </div>

        <div class="col-12 col-sm-5 col-md-7 col-lg-9 form-group">
            <h4><b>Controles</b></h4>
            <input type="checkbox" id="removerNumerosPares_id" name="" value="">
            <label for="">Remover números pares</label><br>
            <input type="checkbox" id="removerNumerosMenoresA10_id" name="" value="">
            <label for="">Remover Números Menores a 10</label><br>
            <input type="checkbox" id="removerNumerosMayoresA50" name="" value="">
            <label for="">Remover Números Mayores a 50</label><br><br>
            <button id="boton_verArreglo">Ver Arreglo</button>
            <br>
            <br>
            <button id="boton_limpiar">Limpiar</button>
            <br>
            <br>
            <label>Contenido del Arreglo</label>
            <br>
            <textarea id="panelTextoArreglo_id" rows="7" cols="120"></textarea>
        </div>

        <script src="~/Scripts/scriptsLab1/controlCheckbox.js">

        </script>
    </div>
    <hr>
    <a href="/">Volver al menu principal</a>
