﻿@{
    ViewBag.Title = "Control While";
}
<div class="container">
    <h1>Control While</h1>
    <hr>
    <h4>API:</h4>
    <p>
        https://localhost:44341/api/ControlWhile/tipoCliente/subTotal
    </p>
    <hr>

    <div class="row">
        <h4><b>Cálculo del descuento</b></h4>
        <table>
            <tr>
                <th>Parametro</th>
                <th>Valor</th>
            </tr>
            <tr>
                <td>
                    <label>
                        Tipo de Cliente:
                    </label>
                </td>
                <td><input type="text" name="" id="tipoDeCliente_id"></td>
            </tr>
            <tr>
                <td>
                    <label>
                        Subtotal:
                    </label>
                </td>
                <td><input type="text" name="" id="subtotal_id"></td>
            </tr>
            <tr>
                <td>
                    <label>
                        Porcentaje de Descuento:
                    </label>
                </td>
                <td><input type="text" name="" id="porcentajeDescuento_id" readonly></td>
            </tr>
            <tr>
                <td>
                    <label>
                        Monto Descuento:
                    </label>
                </td>
                <td><input type="text" name="" id="montoDescuento_id" readonly></td>
            </tr>
            <tr>
                <td>
                    <label>
                        Total:
                    </label>
                </td>
                <td><input type="text" name="" id="total_id" readonly></td>
            </tr>
        </table>
        <button id="boton_calcular">Calcular</button>

        <script src="~/Scripts/scriptsLab1/controlWhile.js"></script>
    </div>
    <hr>
    <a href="/">Volver al menu principal</a>
