﻿@{
    ViewBag.Title = "Conversiones";
}
<div class="container">
    <h1>Ejercicio Conversiones</h1>
    <hr>
    <h4>API:</h4>
    <p>
        https://localhost:44341/api/conversiones/numeroParaConvertir/decimalesDelNumero
    </p>
    <hr>

    <div class="row">
        <div class="col-12 col-sm-7 col-md-5 col-lg-3">
            <h4><b>Número a convertir</b></h4>
            Valor decimal <input type="text" name="" id="numeroParaConvertir_id">
            <br>
            <br>
            <button id="boton_verResultados">Ver resultados</button>
            <br>
            <br>
            <button id="boton_limpiar">Limpiar</button>
            <br>
            <br>
        </div>

        <div class="col-12 col-sm-5 col-md-7 col-lg-9 form-group">
            <h4><b>Resultados</b></h4>
            <span class="control-label">Short</span>
            <input class="input-group" type="text" name="" id="shortResultado_id">
            <br>
            <span class="control-label">Int</span>
            <input class="input-group" type="text" name="" id="intResultado_id">
            <br>
            <span class="control-label">Long</span>
            <input class="input-group" type="text" name="" id="longResultado_id">
            <br>
            <span class="control-label">Float</span>
            <input class="input-group" type="text" name="" id="floatResultado_id">
            <br>
            <span class="control-label">Double</span>
            <input class="input-group" type="text" name="" id="doubleResultado_id">
            <br>
        </div>

        <script src="~/Scripts/scriptsLab1/conversiones.js">

        </script>
    </div>
    <hr>
    <a href="/">Volver al menu principal</a>
