﻿<div class="jumbotron">
    <h1>Laboratorio #1 - Servicios web</h1>
    <hr>
    <h3>Index de páginas</h3>
    <ul>
        <li>
            <a href="~/Home/Salario/">Ejercicio de Salario</a>
        </li>
        <li>
            <a href="~/Home/Conversiones/">Ejercicio de Conversiones</a>
        </li>
        <li>
            <a href="~/Home/ControlCheckbox">Ejercicio de Control Checkbox</a>
        </li>
        <li>
            <a href="~/Home/ControlWhile">Ejercicio de Control While</a>
        </li>
        <li>
            <a href="~/Home/ManejoDeHileras">Ejercicio de Manejo de hileras</a>
        </li>
        <li>
            <a href="~/Home/ManejoDeHilerasRapidas">Ejercicio de Manejo de hileras rápidas</a>
        </li>
        <li>
            <a href="~/Home/ProgramacionOrientadaAObjetos">Ejercicio Programación Orientada a Objetos</a>
        </li>
        <li>
            <a href="~/Home/Radiobutton">Ejercicio Radiobutton</a>
        </li>

    </ul>
</div>
