﻿@{
    ViewBag.Title = "Manejo de Hileras";
}
<div class="container">
    <h1>Manejo de Hileras</h1>
    <hr>
    <h4>API:</h4>
    <p>
        https://localhost:44341/api/manejodehileras/hilera1/hilera2
    </p>
    <hr>

    <div class="row">

        <div class="col-12 col-sm-7 col-md-5 col-lg-4">
            <h4><b>Manejo de hileras</b></h4>
            <label>
                Hilera 1:
            </label>
            <input type="text" name="" id="hilera1_id">
            <br>
            <br>
            <label>
                Hilera 2:
            </label>
            <input type="text" name="" id="hilera2_id">
            <br>
            <br>
            <button id="boton_ver">Ver</button>
            <br>
            <br>
            <button id="boton_limpiar">Limpiar</button>
        </div>

        <div class="col-12 col-sm-5 col-md-7 col-lg-8">

            <h4><b>Resultados</b></h4>

            <table style="width:100%">
                <tr>
                    <th><label>Hilera más larga</label></th>
                    <td><input type="text" name="" id="hileraMasLarga_id"></td>
                </tr>
                <tr>
                    <td><label>Hilera con más volcales</label></td>
                    <td><input type="text" name="" id="hileraConMasVocales_id"></td>
                </tr>
                <tr>
                    <td><label>Hilera con más consonantes</label></td>
                    <td><input type="text" name="" id="hileraConMasConsonantes_id"></td>
                </tr>
                <tr>
                    <td><label>Hilera con más no alfanumericos</label></td>
                    <td><input type="text" name="" id="hileraConMasNoAlfanumericos_id"></td>
                </tr>
            </table>
        </div>

        <script src="~/Scripts/scriptsLab1/manejoDeHileras.js">

        </script>
    </div>
    <hr>
    <a href="/">Volver al menu principal</a>
