﻿@{
    ViewBag.Title = "Manejo de Hileras rápidas";
}
<div class="container">
    <h1>Manejo de Hileras</h1>
    <hr>
    <h4>API:</h4>
    <p>
        https://localhost:44341/api/manejodehilerasrapidas/hilera/
    </p>
    <hr>

    <div class="row">

        <div class="col-12 col-sm-7 col-md-5 col-lg-4">
            <h4><b>Manejo de hileras rápidas</b></h4>
            <label>
                Hilera:
            </label>
            <input type="text" name="" id="hilera_id">
            <br>
            <br>
            <button id="boton_ejecutar">Ejecutar</button>
            <br>
            <br>
        </div>

        <div class="col-12 col-sm-5 col-md-7 col-lg-8">

            <h4><b>Resultados</b></h4>

            <table style="width:100%">
                <tr>
                    <th><label>Total vocales</label></th>
                    <td><input type="text" name="" id="totalVocales_id"></td>
                </tr>
                <tr>
                    <td><label>Total consonantes</label></td>
                    <td><input type="text" name="" id="totalConsonantes_id"></td>
                </tr>
                <tr>
                    <td><label>Hilera alreves</label></td>
                    <td><input type="text" name="" id="hileraAlReves_id"></td>
                </tr>
                <tr>
                    <td><label>Hilera en dos</label></td>
                    <td><input type="text" name="" id="hileraEnDosParte1_id">
                    <input type="text" name="" id="hileraEnDosParte2_id"></td>
                </tr>
            </table>
        </div>

        <script src="~/Scripts/scriptsLab1/ManejoDeHilerasRapidas.js">

        </script>
    </div>
    <hr>
    <a href="/">Volver al menu principal</a>
