﻿
@{
    ViewBag.Title = "ProgramacionOrientadaAObjetos";
}

<h2>ProgramacionOrientadaAObjetos</h2>
<hr>

<h4>Crear nuevo empleado</h4>
<table style="width:100%">
    <tr>
        <td><label>Nombre</label></td>
        <td><input type="text" id="nombreEmpleado_id" /></td>
    </tr>
    <tr>
        <td><label>Apellido</label></td>
        <td><input type="text" id="apellidoEmpleado_id" /></td>
    </tr>
    <tr>
        <td><label>DNI</label></td>
        <td><input type="text" id="dniEmpleado_id" /></td>
    </tr>
    <tr>
        <td><label>Código de departamento a asignar</label></td>
        <td><input type="text" id="empleadoCodigoDepartamento_id" /></td>
    </tr>
</table>
<button id="boton_crearNuevoEmpleado">Crear nuevo empleado</button>
<hr>
<h4>Tabla de empleados</h4>
<table style="width:100%"  id="tablaEmpleados_id">
    <tr>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>DNI</th>
        <th>Departamento</th>
    </tr>
</table>
<hr>

<h4>Crear nuevo departamento</h4>
<table style="width:100%">
    <tr>
        <td><label>Código</label></td>
        <td><input type="text" id="codigoDepartamento_id" /></td>
    </tr>
    <tr>
        <td><label>Nombre</label></td>
        <td><input type="text" id="nombreDepartamento_id" /></td>
    </tr>
    <tr>
        <td><label>Presupuesto</label></td>
        <td><input type="text" id="presupuestoDepartamento_id" /></td>
    </tr>
</table>
<button id="boton_crearNuevoDepartamento">Crear nuevo departamento</button>
<hr>
<h4>Tabla de departamentos</h4>
<table style="width:100%" id="tablaDepartamentos_id">
    <tr>
        <th>Código</th>
        <th>Nombre</th>
        <th>Presupuesto</th>
    </tr>
</table>
<hr>
<a href="/">Volver al menu principal</a>

<script src="~/Scripts/scriptsLab1/Empleado.js"></script>
<script src="~/Scripts/scriptsLab1/Departamento.js"></script>
<script src="~/Scripts/scriptsLab1/ProgramacionOrientadaAObjetos.js"></script>