﻿
@{
    ViewBag.Title = "Radiobutton";
}

<h2>Radiobutton</h2>

<hr>

<div class="container">


    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <label>Número limite</label>
        <input type="text" id="numeroLimite_id">
        <br />
        <br />
        <table style="width:100%">
            <tr>
                <td><input type="text" id="input1" readonly /></td>
                <td><input type="text" id="input2" readonly /></td>
                <td><input type="text" id="input3" readonly /></td>
                <td><input type="text" id="input4" readonly /></td>
                <td><input type="text" id="input5" readonly /></td>
            </tr>
            <tr>
                <td><input type="text" id="input6" readonly /></td>
                <td><input type="text" id="input7" readonly /></td>
                <td><input type="text" id="input8" readonly /></td>
                <td><input type="text" id="input9" readonly /></td>
                <td><input type="text" id="input10" readonly /></td>
            </tr>
            <tr>
                <td><input type="text" id="input11" readonly /></td>
                <td><input type="text" id="input12" readonly /></td>
                <td><input type="text" id="input13" readonly /></td>
                <td><input type="text" id="input14" readonly /></td>
                <td><input type="text" id="input15" readonly /></td>
            </tr>
            <tr>
                <td><input type="text" id="input16" readonly /></td>
                <td><input type="text" id="input17" readonly /></td>
                <td><input type="text" id="input18" readonly /></td>
                <td><input type="text" id="input19" readonly /></td>
                <td><input type="text" id="input20" readonly /></td>
            </tr>
            <tr>
                <td><input type="text" id="input21" readonly /></td>
                <td><input type="text" id="input22" readonly /></td>
                <td><input type="text" id="input23" readonly /></td>
                <td><input type="text" id="input24" readonly /></td>
            </tr>
        </table>
        <button id="boton_llenar">Llenar</button>
        <br />
        <br />
        <button id="boton_limpiar">Limpiar</button>
        <br />
        <br />
    </div>
    <hr />
    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
        <label>Por fila número</label>
        <input type="radio" id="radioPorFilaNumero" name="radio" />
        <input type="text" id="valorPorFilaNumero" />
        <br />
        <label>Por columna número</label>
        <input type="radio" id="radioPorColumnaNumero" name="radio" />
        <input type="text" id="valorPorColumnaNumero" />
        <br />
        <label>Para todas las filas</label>
        <input type="radio" id="radioParaTodasLasFilas" name="radio" />
        <br />
        <label>Para todas las columnas</label>
        <input type="radio" id="radioParaTodasLasColumnas" name="radio" />
        <br />
        <br />
        <button id="boton_aplicar">Aplicar</button>
        <br />
        <br />
        <button id="boton_limpiar2">Limpiar</button>
    </div>
</div>

<hr />

<a href="/">Volver al menu principal</a>

<script src="~/Scripts/scriptsLab1/radioButton.js"></script>