﻿@{
    ViewBag.Title = "Salario";
}
<div class="container">
    <h1>Ejercicio Salario</h1>
    <hr>
    <h4>API:</h4>
    <p>
        https://localhost:44341/api/salario/SalarioPorHoras/DiasTrabajados/Deducciones/
    </p>
    <hr>

    <div class="row">

        <div class="col-12 col-sm-7 col-md-5 col-lg-4">
            <h4><b>Cálculo de Salario</b></h4>
            Salario por horas<input type="text" name="" id="salarioPorHoras_id">
            <button id="boton_calcular">Calcular</button>
            <br>
            <br>
            Días trabajados <input type="text" name="" id="diasTrabajados_id">
            <button id="boton_limpiar">Limpiar</button>
            <br>
            <br>
            % Deducciones <input type="text" name="" id="deducciones_id">
        </div>

        <div class="col-12 col-sm-5 col-md-7 col-lg-8">
            <h4><b>Resultados</b></h4>
            Salario Bruto <input type="text" name="" id="salarioBrutoResultado_id">
            <br>
            Deducciones <input type="text" name="" id="deduccionesResultado_id">
            <br>
            Salario neto <input type="text" name="" id="salarioNetoResultado_id">
        </div>

        <script src="~/Scripts/scriptsLab1/salario.js">

        </script>
    </div>
    <hr>
    <a href="/">Volver al menu principal</a>
